/* Header */
body {
  font-family: Futura, 'Open Sans', Verdana, Sans-Serif;
}
.logo {
  height: 100px;
  width: 80%;
  float: left;
}

.ninja {
  height: 4em;
}

button.navbar-toggle{
  position: relative;
  top: 1em;
}

/* Footer */

footer {
  background: #f8f8f8;
}

button.navbar-toggle{
  position: relative;
  top: 1em;
}


/* Index.html body */

main {
  font-size: 2em;
}

.jumbotron {
  background: url('http://m.c.lnkd.licdn.com/mpr/mpr/p/7/005/088/273/164d2e7.jpg') no-repeat center center;
  background-size: 100% 100%;
  border-radius: 0.5em;
}
.over {
  background: rgba(0,0,0,0.6);
}

.main {
  margin-top: 1em;
  line-height: 1em;
  color: #fff;
  font-size: 2em;
}
.small {
  color: #fff;
}

.thumbbar {
  width: 100%;
  height: 3em;
  font-size: 1.5em;
}
.companylogos {
  float: left;
  padding: .2em .2em .2em 5em;
  max-height: 32px;
  max-width: 32px;
}

#hero {
  margin-top: 4em;
  margin-bottom: 4em;
  height: 4em;
  font-size: .7em;
}

@media only screen and (max-device-width: 768px) {

  main {
    font-size: 1em;
  }
  .main {
    font-size: 1em;
  }

  .thumbbar {
    font-size: 1em;
  }

  #hero {
    font-size: .5em;
  }
  footer {
    visibility: hidden;
  }

}



/* Projects.html body */

title {
  border: 1px solid #000;
}

h3 {
  position: relative;
  top: -0.85em;
  left: 1em;
  background-color: #fff;
  width: 6.5em;
  padding: 0;
  margin: 0;
}

.thumbnail img {
  height: 10em;
  width: auto;
  top: -1em;
}

.description {
  font-size: 0.8em;
  padding: 2em 1em 2em 2em;
}
.project {
  float: left;
  top: -1em;
  padding: .5em;
}
#projects {
  background-color: #f0ad4e;
  color:#fff;
  margin-bottom: 2em;
}

/* About Me */

section p {
  font-size: .8em;
}

.profile, .school {
  float: right;
  height: 6em;
  /*width: 5em;*/
  margin: .5em;
}

.profile {
  float: left;
  border-radius: 50%;


}




